---
const stats = [
  {
    name: 'Serwery',
    value: '4',
  },
  {
    name: 'Hostingi',
    value: '7',
  },
  {
    name: 'Projekty',
    value: '12',
  },
  {
    name: 'Zespół',
    value: '9',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.png"
        alt="Praca nad aplikacją"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nasza misja</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Osoby tworzące treści w internecie działają zazwyczaj samotnie na niesprawiedliwym rynku promującym dużych graczy z ogromnymi budżetami, działających nieetycznie.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Naszą rolą jest pomóc Ci działać w takich warunkach, oferując nowoczesne i niedrogie rozwiązania open source.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Nasza współpraca z najlepszymi dostawcami rozwiązań hostingowych gwarantuje stabilne serwery w budżecie który możesz unieść. Dla nas wartością są nie tylko pieniądze,
              ale również współpraca, wspólna realizacja celów, budowanie zdrowego internetu dla ludzi pełnego dobrych treści.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Z nami wykorzystasz korporacyjne sieci i systemy dla siebie, a nie dasz im się wykorzystać.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
