---
const values = [
  [
    {
      ref: '01',
      name: 'Najwyższa jakość',
      description:
        'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
    },
    {
      ref: '02',
      name: 'Innowacyjność rozwiązań',
      description:
        'Od lat rozwiązania open source wyznaczają kierunki w internecie. W zmieniającym się świecie nie warto inwestować w rozwiązania zamknięte, ' +
        'które mogą stać się nieostępne w każdej chwili w zależności od zmian oferty u dostawcy. Najwięksi korzystają z open source, znosimy barierę dostępności FOSS ' +
        'dla mniejszych firm, organizacji i osób działających indywidualnie',

    },
  ],
  [
    {
      ref: '03',
      name: 'Współpraca długoterminowa',
      description:
        'Nie zależy nam na jednorazowych, szybkich wdrożeniach, choć potrafimy je robić. Nie uciekamy do kolejnych projektów. Potrafimy słuchać, jesteśmy osobami uważnymi i cierpliwymi.' +
        'W miarę rozwoju naszej oferty udostępniamy coraz to nowe rozwiązania, by to co dobre było dostępne.',
    },
    {
      ref: '04',
      name: 'Inkluzywność i szacunek',
      description:
        'Nie stawiamy żadnych barier, również finansowych. Uważamy, że nasze rozwiązania powinny być dostępne dla każdego i jesteśmy skłonni uzgodnić ich finansowanie.' +
        'Potrafimy współpracować z osobami nienormatywnymi, mamy doświadczenie w komunikacji bez przemocy i budowaniu społeczności. Wszyscy jesteśmy sobie równi.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Nasze wartości</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
